/* Default */
body {

}
/* Classes */
.navbar-right {
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 25px;
}
.navbar-right li {
  margin-left: 35px;
}
.navbar-inverse {
  background: #222538; !important
}
.navbar-inverse .navbar-nav>li>a {
  font-size: 1.2em;
  font-family: 'Open Sans','Signika', sans-serif; !important
  text-transform: uppercase;
}
ul.nav a:hover {
  color: white !important;
}
/* IDs */

#home {
  height: 100vh;
  background: #B2A29F;
}
#about {
  height: 100vh;
  background: lightblue;
  font-size: 55px;
  font-family: 'Signika', sans-serif;
}
#projects {
  height: 100vh;
  font-size: 55px;
  font-family: 'Open Sans', sans-serif;
}
#contact {
  height: 95vh;
  background: #08fbff;
  display: flex;
  flex-direction: column;
}
  #contact #contactinfo {
    margin-top: auto;
    height: 100vh;
    background: rgb(44,47,64,100);
    text-align: center;
  }
  #contact #contactme p {
    padding-top: 10%;
    text-align: center;
    color: white;
    font-size: 60px;
  }
  #contact #icons {
  }
    #contact #icons div {
      position: relative;
      display: inline-block;
    }
    #contact #icons p {
      font-size: 2.5em;
      color: white;
    }
      #email {
        padding-left: 1.1em;
      }
      #github {
        padding-left: 1.1em;
      }
      #linkedin {
        padding-left: 1.1em;
      }
      #resume {
        padding-left: 1.1em;
      }
    #contact ul{
      padding-top: 9.5%;
      padding-right: 50px;
      margin: 0;
      list-style: none;
      position: relative;
      display: table;
      margin: 0 auto;
      overflow: hidden;
    }
    #contact li {
      display: inline-block;
      position: relative;
    }
    #contact a {
      text-decoration: none;
      display: block;
      color: white;
      font-size: 8em;
      margin-left: 95px;
      margin-right: 55px;
    }
    #contact a:hover {
      color: darkgrey;
    }
  #icondescriptions {
    position: relative;
  }
    #icondescriptions p {
      position: relative;
      display: inline-block;
      font-size: 50px;
      color: white;
      padding-left: 45px;
    }
  #copyright {
    padding-top: 1em;
    display: table;
    text-align: center;
    height: 5vh;
    background: #222538;
  }
    #copyright #number {
      padding-bottom: 5px;
    }

    /*
    ul.nav #navhome:hover + #navhomepar {
    }
    ul.nav #navhomepar {
      display: none;
    }
    ul.nav #navaboutpar {
      display: none;
    }
    ul.nav #navprojectspar {
      display: none;
    }
    ul.nav #navcontactpar {
      display: none;
    }
    */
