/* ---HTML & BODY CSS--- */
body {
  font-family: "Work Sans", sans-serif;
  margin: auto;
}
/*
header {
  background-color: rgba(0, 0, 0, 1);
  position:sticky;
  top: 0px;
}
header::after {
  content: "";
  display: table;
  clear:both;
}
*/
nav {
  float: right;
}
nav ul {
  margin: 0;
  padding-right: 75px;
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 25px;
  padding: 25px;
  position: relative;
}
nav a {
  color: gray;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .75em;
  padding-bottom: 10px;
}
nav a:hover {
  color: white;
  padding-top: 10px;
  border-bottom: 2px solid white;
  text-decoration: none;
  transition: all ease-in-out 175ms;
}
/* ---CLASSES--- */
.active {
  color: white;
  padding-top: 10px;
  border-bottom: 2px solid white;
  text-decoration: none;
  transition: all ease-in-out 175ms;
}
.logo {
  float: left;
  width: 2.75em;
  padding: 10px;
  padding-left: 55px;
}
/* ---IDs--- */
#mainContent {
  display:grid;
  grid-template-rows: repeat(100vh, 4fr);
  height: 400vh;
}
#home {
  background: linear-gradient(
    35deg,
    #ccffff,
    #ffcccc);
  width: fill-parent;
}
#about {
  background: lightblue;
}
#about p {
  color: white;
}
#projects {

}
#contactMain {
  background: blue;
}
#navContainer {
  background-color: rgba(0, 0, 0, 1);
  position:sticky;
  top: 0;
  left: 0;
}
#navContainer::after {
  content: "";
  display: table;
  clear:both;
}
