/* HTML & BODY CSS */

/* CLASSES & IDs */

  /* ---Classes--- */
    .mainContent {
      display:grid;
      grid-template-columns: 2fr;
    }
    .mainContent > div {
      background: #eee;
      padding: 5em;
    }
    .navbar {
      /* Border:1px solid #ccc;*/
      /*border-width:1px 0;*/
      list-style:none;
      margin:0;
      padding:0;
      text-align:center;
    }
    .navbar li {
      display: inline;
    }
    .navbar a {
      display: inline-block;
      padding: 10px;
      color: black;
      text-decoration: none;
    }

  /* ---IDs--- */
    #home {
      background: white;
    }
    #about {

    }
    #portfolio {

    }
    #contact {

    }
