/* Default */
body {

}
/* Classes */
.navbar-right {
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 25px;
}
.navbar-right li {
  margin-left: 35px;
}
.navbar-inverse {
  background: rgba(44,47,64,0);
  border-color: transparent; !important
}
.navbar-inverse .navbar-nav>li>a {
  font-size: 1.2em;
  font-family: 'Open Sans','Signika', sans-serif; !important
  text-transform: uppercase;
}
ul.nav a:hover {
  color: white !important;
}
/* IDs */
#home {
  height: 100vh;
  position: relative;
  background-color: #2C2F40;
  text-align: center;
}
  #intro {
    height: 100vh;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%
  }
  #intro #hi {
    padding-top: 3em;
    padding-bottom: 25px;
    position: relative;
    vertical-align: center;
    font-size: 4em;
    color: white;
    text-align: center;
  }
  #intro #welcome {
    position: relative;
    vertical-align: center;
    font-size: 4em;
    color: white;
    text-align: center;
    padding-bottom: 25px;
  }
  #btn {
  display: inline-block;
  padding: 5px 20px;
  padding-top: 5px;
  border: 2px solid #fff;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.4s;
     -moz-transition: all 0.4s;
       -o-transition: all 0.4s;
          transition: all 0.4s;
}
#btn:hover {
  color: #9d9d9d;
  border-color: #9d9d9d;
}
#btn p {
  padding-top: 10px;
}
#about {
  height: 100vh;
  background-color: lightblue;
  font-size: 55px;
  font-family: 'Signika', sans-serif;
}
  #about #particle-canvas {
    width: 100%;
    height: 100%;
  }
#projects {
  height: 100vh;
  font-size: 55px;
  font-family: 'Open Sans', sans-serif;
}
#contact {
  height: 95vh;
  background-color: #2C2F40;
  display: flex;
  flex-direction: column;
}
  #contact #contactinfo {
    margin-top: auto;
    height: 100vh;
    background-color: #2C2F40;
    text-align: center;
    display: table-column;
  }
    #contact #contactinfo #contactme p {
      padding-top: 10%;
      text-align: center;
      color: white;
      font-size: 60px;
    }
  #contact #contactinfo #iconslist {
    display: inline;
    text-align: center;
    margin-right: 10.5em;
  }
    #contact #contactinfo #iconslist li {
      display: inline-block;
      position: relative;
      overflow: hidden;
    }
    #contact #contactinfo #iconslist li p {
      display: inline-block;
      font-size: 2em;
      color: white;
      padding-left: 45px;
      overflow: auto;
      margin-left: 3.95em;
    }
    #contact #contactinfo #iconslist a {
      text-decoration: none;
      display: block;
      color: white;
      font-size: 7.5em;
      margin-left: 1.5em;
      margin-top: 1em;
    }
    #contact #contactinfo #iconslist a:hover {
      color: darkgrey;
    }
  #copyright {
    padding-top: 1em;
    display: block;
    text-align: center;
    height: fit-content;
    background-color: #222538;
    width: 100%;
  }
    #copyright #number {
      padding-bottom: 5px;
    }
